.modals {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 50%;
  width: 500px;
  height: auto;
  margin: 230px auto;
}

.modal-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  height: inherit;
  background: #fff;
  border-radius: 5px;
    z-index: 10;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.modal {
  position: relative;
  width: 100%;
  height: inherit;
  text-align: center;
  border-radius: 5px;
}

.text {
  margin: 35px 0;
  font-size: 18px;
}

.buttons {
  justify-content: space-around;
  display: flex;
  margin: 20px 0 35px 0;
}

.modal-button {
  min-width: 140px !important;
  color: #fff;
  font-size: 15px;
  background: #474f56;
  font-weight: 400 !important;
  text-transform: initial !important;
  -webkit-box-shadow: 0 0 2px rgb(194, 194, 194);
          box-shadow: 0 0 2px rgb(194, 194, 194);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 0px;
  color: #fff;
  font-size: 2em;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.modal-content {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 150px;
  color: #fff;
  background: rgba(193, 29, 29, .5);
}

.text-modal {
  outline: none;
  width: 100%;
  padding: 30px;
  line-height: 1.2;
  text-align: left;
  background: #f4f4f4;
  border-bottom: 1px solid #e8e8e8;
}
