.notification-container {
  width: 100%;
}


.notifications > li {
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 12px #cecece;
  margin: 20px;
  border-bottom: 2px solid #e7e7e7;
  border-radius: 8px;
  background: #fff;
}

.notifications > li:nth-child(even) {
  background: #363647;
  color: #fff;
  box-shadow: 0 1px 12px #363647;
  border-bottom: 2px solid #363647;
}

.notifications > li button {
  min-width: 130px;
  margin: 0 5px;
  text-transform: initial;
  font-weight: normal;
  font-size: 15px;
}

.notifications > li .avatar {
  margin: 0 50px 0 0;
}

.notifications > li button:first-of-type {
  margin-left: 30px;
}

.notifications > li button {
  margin-left: 20px;
}

.notifications > li .button-wrapper {
  margin-right: 100px;
}
