.flex-container {
    display: flex;
    height: 100%;
    position: relative;
    /* microsoft edge fix*/
    overflow: auto;
}

.conversations {
    overflow: auto;
    min-width: 37%;
    height: 100%;
}

.letter {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 35px #dedede;
    border-left: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    margin: 20px;
    border-radius: 8px;
}

.conversations .user {
    font-weight: 500;
    color: #000;
}

.letter-date {
    position: absolute;
    font-size: 11px;
    color: #71767C;
    right: 10px;
    bottom: 9px;
    background: #F1F3F5;
    padding: 4px 7px;
    border-radius: 3px;
}

.letter .avatar{
    max-width: 45px;
    max-height: 45px;
    z-index: 10;
}

.letter-text {
    position: relative;
    right: 25px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.75);
}

.dialog-container {
    overflow: auto;
    width: 70%;
    padding-top: 10px;
    margin-bottom: 75px;
}

.dialog-message {
    background: rgba(244, 244, 244, 0.5);
    border-radius: 5px;
    margin: 20px 20px;
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.75);
}

.dialog-user{
    font-weight: 500;
    position: relative;
    top: -1px;
    color: #000;
}

.dialog-date{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 11px;
    color: #AEB6BE;
}

.message-bar {
    width: inherit;
    background: #fff;
    display: flex;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 6px #dddddd;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.btn-submit-message {
    width: 60px;
    border: none;
    background: none;
}

.btn-submit-message .sendIcon {
    transition: all .3s,
}

.btn-submit-message:hover .sendIcon {
    transform: scale(1.4) rotate(-140deg)
}

